body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.wrap {
    padding: 16px;
}
.example-1 {
    width: 400px;
    height: 400px;
    background-color: rgb(107, 107, 235);
    color: white;
    display: grid;
    place-items: center;
}
.parent {
width: 50%;
height: 200px;
background-color: lightgreen;
}
.child {
width: 150px;
height: 100%;
background-color: aqua;
}